main {
    font-family: "Raleway";
    padding-left: 15px;
    margin-top: 0;
    color: #F2F1ED;
    background-color: #222527;
    height: 100%
}

main > h1 {
    padding-top: 15px;
    padding-bottom: 30px;
}

.main-article {
    display: grid;
    grid-template-columns: fit-content(40%) fit-content(40%);
    justify-content: space-evenly;
}

#choice-form {
    display: flex;
    flex-direction: row;
    width: 100px;
    align-items: center;
    opacity: 0.8;
}

#name {
    margin: 0 10px 0 5px;
    border-radius: 5px;
}

#choice {
    margin: 0 10px 0 5px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

#submit {
    margin: 0 10px 0 5px;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
}