{% extends "base.html" %}

{% block content %}
<main>
    <h1>Welcome to Rock, Paper, Scissors!</h1>
    <article class="main-article">
        <section class="rules">
            <h2>Rules</h2>
            <p>The object of Rock, Paper, Scissors is to choose an item that beats your opponent's item. The winning combinations are:</p>
                <ul class="rules-list">
                    <i class="far fa-gem"></i><li>Rock <b><i>blunts</i></b> scissors</li>
                    <i class="far fa-sticky-note"></i><li>Paper <b><i>wraps</i></b> rock</li>
                    <i class="fas fa-cut"></i><li>Scissors <b><i>cut</i></b> paper</li>
                </ul>
        </section>
        <section>
            <h2>How to play</h2>
            <p>Player 1 enters their choice of item into the browser after the slash for the website address, then player two enters a slash followed by their choice</p>
            <b>Example: <i>http://localhost:5000/rock/scissors</i></b>
            <p>Press enter and the winner will be displayed. In the above example, Player 1 would win.</p>
        </section>
        </article>
    
    <section>
        {% if game_result != "unplayed" %}
    
        {% include "play_result.html" %}
    
        {% endif %}
    </section>
</main>

{% endblock %}
